.weatherbg {
  background: url("../src/images/cabin-924958_1280.jpg");
  height: 155vh; /* to make it responsive */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
}
.heading,
h5,
h6,
p {
  color: white;
  font-weight: 700;
}
.weatherresult {
  margin: auto;
  height: 500px;
  width: 300px;
}
.weathericon {
  /* background-image: url("../src/images/cloudy.png"); */
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}
